a{
  color: #F3C5C5;
  text-decoration: none;
}

body{
  background-color: #EEF2FF;
  color: #2C3333;
  font-family:sans-serif;
  margin: 0;
  text-align: center;
}

h1{
  color: #6A5495;
  font-size: 4.375rem;
  font-family: 'sacramento' ,cursive;
  line-height: 2rem;
  margin: 0 auto 0 auto;
}

h2{
  color: #6A5495;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Shizuru', cursive;
}

h3{
  color: #6A5495;
}

hr{
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 5%;
}

p{
  font-family: sans;
  font-size: 1.3rem;
  margin-bottom: 50px;
}

/*********************** Class ********************************/
.bottom-cloud{
  left: 250px;
  position: absolute;
}

.bottom-container{

  background-color: #6A5495;
}

.btn{
  background-color: #6A5495;
  border-radius: 10%;
  color: #F3C5C5;
  font-size: 16px;
  padding: 10px 10px;
  text-decoration: none;
}
.btn:hover{
  background-color: #630000;
}

.footer-link{
  color: #F3C5C5;
  text-decoration: none;
}

.footer-link:hover{
  color: #630000;
}

.img-chilli{
  float: right;
  margin-left: 30px;
  width: 25%;

}

.img-computer{
  float: left;
  margin-right: 30px;
  width: 25%;

}

.last-para{
  color: white;
  font-size: 0.7rem;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.middle-container{
  background-color: white;
}

.profile-picture{
  padding-top: 70px;
  width: 200px;
}

.skills{
  height: auto;
}

.skill-row{
  line-height: 2;
  margin-left: 350px;
  text-align: left;
  width: 50%;
}

.top-cloud{
  position: relative;
  margin: 50px auto 100px 500px;
}
.top-container{
  background-color: #EEF2FF;
  padding-top: 100px;
}
